.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-description {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  color: black;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  max-width: 1100px;
}

.cart-heading {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 10px;
  color: darkblue;
}

.cart-button {
  height: 30px;
  border: 0px;
  background-color: blanchedalmond;
  color: black;
  line-height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
}
